.navbarContainer{
    height: 60px;
    width: 100%;
    background-color: crimson;
    display: flex;
    justify-content: space-between;
}
.linksContainer{
    display: flex;
}
.logo{
    color: white;
    font-size: 24px;
    font-weight: bold;
}
h3{
    color: white;
    font-size: 16px;
    font-weight: 300;
    margin-left: 10px;
    padding: 1px 2px;
}
h3:hover{
    border-bottom: 1px solid  rgba(78, 74, 75, 0.287);
}